<div class="quick-start">
    <h2 class="intro-text">Here’s how to get started:</h2>
    <ul class="feature-list">
      <li class="feature-item">
        <span class="highlight">Add</span> items or categories easily by clicking the 
        <button class="plus-button">+</button> button.
      </li>
      <li class="feature-item">
        <span class="highlight">Remove</span> items or categories by <span class="highlight-line">clicking</span> on them. 
        When hovered, they will be marked with a line and ready to be removed.
      </li>
    </ul>
  </div>