<div class="new-category" [hidden]="!newCategory">
<label for="categories">Add new category:</label>
<input type="text" name="name" required #categoryInput>
<button type="submit" (click)="addCategory(categoryInput.value)">Submit</button>
</div>

<div class="new-item" [hidden]="newCategory">
    <label for="items">Add new item:</label>
    <input type="text" name="name" required>
    <label for="categories">category:</label>
    <!-- <input type="text" name="category" required>
    <label for="categories">category:</label> -->
<nz-select 
  [(ngModel)]="selectedCategory" 
  name="category" 
  required
  [nzDropdownMatchSelectWidth]="false"
  class="auto-width-select">
  <nz-option 
    *ngFor="let category of categoryData" 
    [nzValue]="category.id" 
    [nzLabel]="category.name"
    class="no-wrap-option">
  </nz-option>
</nz-select>
    <button type="submit" (click)="addItem()">Submit</button>
</div>