/* App container */
.app-container {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    cursor: default;
  }

  /* Header Section */
  .app-header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
  
  .app-header .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .app-header nav {
    display: flex;
  }
  
  .app-header nav a {
    color: #f0f0f0;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    transition: all 0.3s ease;
  }
  
  .app-header nav a:hover {
    color: #f39c12;
    border-color: #f39c12;
  }
  
  
  /* Main Content Section */
  .content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    .title-block {
      display: flex;
      justify-content: space-between;
      padding-left: 16px;
    }
  }


.card .title-block button {
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 24px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
  .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .add-button {
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f39c12;
    border-color: #f39c12;
    transition: all 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #e67e22;
    border-color: #e67e22;
    transform: scale(1.1);
  }