<div class="app-container">
  <!-- Header Section -->
  <header class="app-header">
    <h1 class="title">Inventory Management</h1>
    <nav>
      <a href="#" (click)="showCategory=true">Categories</a>
      <a href="#" (click)="showCategory=false">Items</a>
      <a href="#">Settings</a>
      <a href="#">Logout</a>
    </nav>
  </header>
  <!-- Main Content Section -->
  <main class="content">
    <div class="card">
      <div class="title-block">
        <h2 class="card-title">{{showCategory ? 'Category List':'Inventory List'}}</h2>
        <button>+</button>
      </div>
      <div class="inventory-items">
        <app-items [hidden]="showCategory" [itemData]="inventoryData"></app-items>
        <app-categories [hidden]="!showCategory" [categoryData]="categoryData"></app-categories>
      </div>
    </div>
  </main>
</div>